                /*font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
                
                body {
                    font-family: "Montserrat";
                }
                
                #logo {
                    width: 20%;
                }
                
                #tittle {
                    background-color: #ff4c68;
                    color: #fff;
                }
                
                h1 {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 900;
                    font-size: 3.5rem;
                    line-height: 1.5;
                }
                
                h2 {
                    font-size: 3rem;
                    font-family: "Montserrat";
                    font-weight: bold;
                }
                
                h3 {
                    font-family: "Montserrat";
                    font-weight: bold;
                    font-size: 1.5rem;
                }
                
                p {
                    color: #8f8f8f;
                }
                
                .container-fluied {
                    padding: 3% 15%;
                }
                /* navigation */
                
                .navbar {
                    padding: 0 0 4.5rem;
                }
                
                .navbar-brand {
                    font-size: 2.5rem;
                    font-family: "Ubuntu";
                    font-weight: bold;
                }
                
                .nav-item {
                    padding: 0 18px;
                }
                
                .nav-link {
                    font-family: "Montserrat";
                    font-weight: lighter;
                    font-size: 1.5rem;
                }
                
                .download-btn {
                    margin: 5px 8px 4px 0;
                }
                
                .imges {
                    display: flex;
                }
                
                .phone-box {}
                
                .phone {
                    width: 70%;
                    transform: rotate(25deg);
                }
                /* features */
                
                #feature {
                    padding: 8% 16%;
                }
                
                .feature-box {
                    text-align: center;
                    font-family: "Montserrat";
                    padding: 5%;
                }
                
                .icon {
                    color: #ef8172;
                    margin-bottom: 1rem;
                }
                
                .icon:hover {
                    color: #ff4c68;
                }
                /* testimonial */
                
                #testimonial {
                    background-color: #ef8172;
                    color: #fff;
                    padding: 8% 16%;
                    text-align: center;
                }
                
                .testimonial-img {
                    width: 10%;
                    margin: 25px;
                    border-radius: 100%;
                }
                /* press */
                
                #press {
                    background-color: #ef8172;
                    padding-bottom: 5%;
                    text-align: center;
                }
                
                .press-logo {
                    width: 15%;
                    margin: 20px 20px 40px;
                }
                /* pricing*/
                
                #pricing {
                    padding: 8% 16%;
                    text-align: center;
                }
                
                .pricing-colums {
                    margin-top: 3%;
                }
                
                .card-deck {
                    padding: 3% 2%;
                }
                /* .card {
        padding: 1rem;
    } 
    */
                
                #cta {
                    background-color: #ff4c68;
                    color: #fff;
                    padding: 8% 16%;
                    text-align: center;
                }
                
                .cta-heading {
                    font-weight: 900;
                    font-size: 3.5rem;
                    line-height: 1.5;
                }
                
                #footer {
                    background-color: #fff;
                    padding: 5% 16%;
                    display: flex;
                    justify-content: center;
                }
                
                .footer-icon {
                    font-size: 20px;
                    text-align: center;
                    margin: 20% 10%;
                }
                
                .footer-icon:hover {
                    color: #ff4c68;
                }